<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer id="footer">
    <div class="footer-container">
        <div class="column">
            <h3>Endereço</h3>
            <p>Rua Exemplo, 123</p>
            <p>Cidade Exemplo</p>
            <p>CEP: 12345-678</p>
        </div>
        <div>
            <h3>Contato</h3>
            <p>Telefone: (11) 1234-5678</p>
            <p>Email: contato@consultoriaxyz.com.br</p>
        </div>
        <div class="column">
            <h3>Redes Sociais</h3>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-instagram fa-lg"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-twitter fa-lg"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
            </div>
        </div>
        <div class="column">
            <h3>Loja de Aplicativos</h3>
            <div class="apps">
                <a href="#"><i class="fa-brands fa-google-play fa-lg"></i></a>
                <a href="#"><i class="fa-brands fa-app-store fa-lg"></i></a>
            </div>
        </div>

    </div>
</footer>