<header>
    <img src="/src/images/logo.png" alt="Logotipo da Loja">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/servicos">Services</a></li>
            <li><a href="/budget">Budget</a></li>
            <li><a href="signIn">Sign In</a></li>
        </ul>
    </nav>
</header>
